:root {
  --primary-color: #784522; /* Dark brown */
  --secondary-color: #411f09; /* Darker brown */
  --background-color: #fefe; /* Creamy white */
  --button-hover-color: #a4a4a4; /* Button hover color */
}

body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.carouselNav {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2px solid rgb(169, 167, 167);
}

.carouselFirstImgButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.carouselNav:hover {
  cursor: pointer;
}

.carouselOptClicked {
  margin: 0px 1px 0px 0px;
  border: 5px solid var(--secondary-color);
  background-color: var(--primary-color);
  width: 23%;
}

/* .bd1{
  border-left: 2px solid rgb(169, 167, 167) ;
} */

.carouselOptNotClicked {
  margin: 0px 1px 1px 0px;
  width: 23%;
  border-right: 2px solid rgb(169, 167, 167);
}

.carouselImage {
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  place-items: center;
}

.carouselOptNumberNotClicked {
  color: white;
  left: 0.4em;
  top: 34px;
  font-size: xx-large;
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--primary-color);
  border: 3px solid var(--secondary-color);
  text-align: center;
  line-height: 42px;
}

.carouselOptNumberClicked {
  color: var(--primary-color);
  left: 0.4em;
  top: 34px;
  font-size: xx-large;
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid var(--secondary-color);
  text-align: center;
  line-height: 42px;
}

.carouselOptTitleNotClicked {
  padding-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: bolder;
  padding-left: 1.3em;
  font-size: 18px;
}

.carouselOptTitleClicked {
  color: var(--secondary-color);
  padding-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  padding-left: 1.3em;
  font-size: 18px;
}

.carouselOptCaptionNotClicked {
  padding-left: 4.5em;
  font-weight: 200;
  clear: left;
}

.carouselOptCaptionClicked {
  color: #fff;
  padding-left: 4.5em;
  font-weight: 200;
  clear: left;
}

.carouselOptNotClicked:hover {
  background-color: var(--primary-color);
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
  border: 5px solid var(--secondary-color);

  .carouselOptCaptionNotClicked,
  .carouselOptTitleNotClicked {
    color: white;
  }

  .carouselOptNumberNotClicked {
    color: var(--primary-color);
    background-color: #fff;
  }
}

.carouselFirstImgDesc {
  text-align: center;
  color: white; /* Adjust the text color */
}

.carouselFirstImgTitle {
  margin: 0;
  font-size: 3em;
  font-weight: 330;
}

.carouselFirstImgTitle > span {
  color: var(--primary-color);
  font-weight: 400;
}

.carouselFirstImgCapt {
  font-weight: 300;
  font-size: 1.1em;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.carouselFirstImgButton1 {
  border: 0;
  padding: 0;
}

.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #fff;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: var(--primary-color);
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: black;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #fefe;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

.carouselFirstImgBtn2 {
  border: none;
  margin-left: 2em;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 2px;
  transition: 0.3s;
}

.carouselFirstImgBtn2:hover {
  background: var(--primary-color);
  color: #fff;
}

.label-down {
  display: block;
  margin: 0px 20px;
  height: 100%;
  position: relative;
  top: -100%;
  transition: 0.3s;
}

.carouselFirstImgBtn2:hover .label-down {
  top: 0%;
}

@media screen and (max-width: 850px) {
  .carouselOptNumberNotClicked,
  .carouselOptNumberClicked {
    display: none;
  }

  .carouselOptTitleNotClicked,
  .carouselOptTitleClicked {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: 700;
    padding: 0.5em;
    font-size: 20px;
  }

  .carouselOptCaptionNotClicked,
  .carouselOptCaptionClicked {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: 200;
    margin: 0 !important;
    padding: 0.3em;
  }
}

@media screen and (max-width: 850px) {
  .carouselOptTitleNotClicked,
  .carouselOptTitleClicked {
    font-size: 16px;
  }
  .carouselOptCaptionNotClicked,
  .carouselOptCaptionClicked {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  .carouselImage {
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    place-items: center;
  }

  .carouselOptTitleNotClicked,
  .carouselOptTitleClicked,
  .carouselOptCaptionNotClicked,
  .carouselOptCaptionClicked {
    display: none;
  }

  .carouselNav {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .carouselOptClicked,
  .carouselOptNotClicked {
    width: 20%;
    display: grid;
    place-items: center;
    height: 15vh;
  }

  .carouselOptNumberNotClicked {
    color: white;
    position: inherit !important;
    display: inline-block;
    border-radius: 50%;
    background: var(--primary-color);
    border: 3px solid var(--secondary-color);
    margin-bottom: 0;
  }

  .carouselOptNumberClicked {
    display: inline-block;
    position: inherit !important;
    color: var(--primary-color);
    border-radius: 50%;
    background: #fff;
    border: 3px solid var(--secondary-color);
    margin-bottom: 0;
  }

  .carouselFirstImgDesc {
    text-align: center;
    color: white;
  }

  .carouselFirstImgTitle {
    margin: 0;
    font-size: 1.3em;
    font-weight: 330;
  }

  .carouselFirstImgCapt {
    font-weight: 300;
    font-size: 0.8em;
  }

  .btn-flip {
    line-height: 30px;
  }

  .btn-flip:before {
    padding: 0 10px;
    line-height: 30px;
  }

  .carouselFirstImgBtn2 {
    height: 30px;
    line-height: 30px;
    margin-left: 0;
  }

  .label-down {
    margin: 0px 20px;
  }
}

@media screen and (max-width: 420px) {
  .carouselOptNumberNotClicked {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 32px;
  }

  .carouselOptNumberClicked {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 32px;
  }
}

@media screen and (max-width: 270px) {
  .btn-flip {
    line-height: 30px;
    font-size: small;
  }

  .btn-flip:before {
    padding: 0 5px;
    line-height: 30px;
  }

  .carouselFirstImgBtn2 {
    height: 30px;
    font-size: small;
    padding: 0;
    line-height: 30px;
    margin-left: 0;
  }

  .label-down {
    margin: 0px 10px;
  }

  .carouselOptNumberNotClicked {
    font-size: small;
    width: 35px;
    height: 35px;
    line-height: 28px;
  }

  .carouselOptNumberClicked {
    font-size: small;
    width: 35px;
    height: 35px;
    line-height: 28px;
  }
}
